*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ubuntu;
}

.main i{
    position: fixed;
    bottom: 30px;
    background-color: gold;
    padding: 14px;
    border-radius: 5px;
    /* margin-right:20px; */
    right: 35px;
}

.chop1 img{
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.recipe img{
     border-top-right-radius:20px;
    border-top-left-radius: 20px;
}
.main a{
    color: black;
    transition: 0.3s ease-in-out;
}


.main a:hover{
    color: white;
}


.nav-item a{
    color: black;
}

.navbar-nav li::after{
    color: black;
    transition: .4s ease;
    position: absolute;
    content: "";
    background-color:rgb(232, 194, 97) ;
    height: 3px;
    width: 0;
    /* right: 0; */
    bottom: 30%;
}

.navbar-nav li:hover::after{
    width: 100px; 
}

.basket-nav i{
    border: 2px solid gold;
    padding: 12px;
    border-radius: 50%;
}

.utensils i{
    background-color: gold;
    color: white;
    border-radius: 50%;
    padding: 11px;
}

.low-pic{
    position: absolute;
    top: 40px;
    right: 2%;
}

.snack{
    border: none;
    width: 170px;
    border-radius: 30px;
    padding: 12px;
    background-color: whitesmoke;
}

.low-pic strong{
    margin: 23px;
}

.low-pic img{
    border-radius: 50%;
}

.nav-item a{
    margin-right: 30px;
}

.reserve{
    background-color:gold;
    margin-left:30px;
    border: none;
    border-radius: 50px;
   
}

.reserve b{
    margin: 18px;
    font-size: 15px;
}
.menu h1{
    font-weight: bold;
    font-size: 70px;
  
   
}

.menu span{
    line-height: 90px;
}

.menu-food a{
    text-decoration: none;
    color: black;
}

.menu-food a:hover{
    color: black;
}

.menu-food button{
    padding:7px;
    border: none;
    background-color: gold;
    border-radius: 50px;
}


.menu-food a{
    margin: 17px;
   
}

.side-pic{
    background-color: white;
    border-radius: 50px;
    margin: 8px;
}

.gen-side{
    position: relative;
    top: 50%;
    padding-right: 100px;
   
 
}

.side-pic span{
    font-weight: bold;
    font-size: 12px;
}

.arrow i{
    border: 2px solid  gold;
    margin: 10px;
    padding: 18px;
    border-radius: 50%;
}

.pasta i{
    color: gold;
}

.pasta span{
    font-weight: bold;
    margin: 20px;
    font-size: 17px;
}

.card p{
   font-size: 13px;
}
.card button{
    float: right;
    font-size: 14px;
    padding:10px;
    margin-right: 18px;
    margin-bottom: 20px;
    background-color: white;
    border: none;
   
}

.multiple i{
    border: 2px dotted black;
    padding: 15px;
    border-radius: 50%;
}

.multiple span{
    font-weight: bold;
   
    
}

.gen-container{
    position: relative;
}


.first-pic {
    border: 2px solid gainsboro;
    padding: 10px;
    border-radius: 50%;
}

.first-pic img{
    position: relative;
    right: 5%;
    top: 10px;
}

.first-pic2{
    background-color:rgb(246, 236, 226);
    padding: 42px 50px;
    border-radius: 50%;
}

.first-pic1 {
    border: 2px solid gainsboro;
    padding: 10px;
    border-radius: 50%;
}

.mul-bod  button{
    border: none;
    padding: 12px;
}


.special button{
    border: 2px solid gold;
    border-radius: 50px;
    background-color: #faf0e6;
    font-weight: bold;
    height: 50px;
    font-size: 15px;
}

.special button:hover{
    background-color: gold;
    color:black;
    transition:ease-out 0.4s;
}


.card{
   
    margin: -20px;
}


.reservation button{
    border: none;
    padding: 10px;
    background-color: gold;
    border-radius: 30px;
   
}

.reservation b{
    margin: 10px;
}

.customer{
   background-color: rgb(230, 222, 213);
   padding: 15px;
   margin: -14px;
   border-radius: 30px;
}

.customer p{
    font-weight: bold;
    font-size: 17px;
    /* ::-webkit-scrollbar */
    /* scroll-behavior: smooth; */
}

.chef p{
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
}

.download button{

    border-radius: 10px;
}

.download i{
    font-size:20px;
    /* margin-top: 12px; */
    /* margin: 10px; */
    color: darkturquoise;
}

.download span{
    font-size: 15px;
}

.gen-menu{
    background-color: rgb(230, 222, 213);
    border-radius: 30px;
}

.bite i{
    background-color: goldenrod;
    color: white;
    padding: 12px;
    border-radius: 50%;
}

.newsletter input{
    border-bottom: 1px solid grey;
    border-right: none;
    border-left: none;
    background-color: transparent;
    outline: none;
    border-top: none;
}

.enter  i{
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    background-color: goldenrod;
}

.social  i{
    padding: 8px;
    cursor: pointer;
    transition: all .5s step-end;
    border-radius: 50%;
    margin: 5px;
    border: 1px solid black;
}

.social i:hover{
    background-color: goldenrod;
    box-shadow: 0 0px 10px 1px gold;
    border: 1px solid transparent;
    transform: translateY(-10px);
}

@media screen and (max-width:768px){
    .more-pic img{
        width: 90%;
        height: 400px;
    }
    
    .more-pic2 img{
        width: 90%;
        padding-left: 0;
        height: 300px;
    }


    .low-pic{
        position: absolute;
        top: 5%;
        right: 2%;
    }

    .gen-container{
        position: relative;
    }
    


.first-pic2{
    background-color:rgb(246, 236, 226);
    padding: 22px 30px;
    border-radius: 50%;
}
.gen-menu{
    background-color:transparent;
    border-radius: 30px;

}

.hungry h1{
   font-size:22px;
}

.hungry p{
   font-size: 12px;
   margin-bottom:20px;
   
}

 
    
}




